<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armament211 Contact</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <main>
        <header>
            <h1>ฝ่ายสรรพาวุธอิเล็กทรอนิกส์ ฝูงบิน 211 กองบิน 21</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html" >หน้าหลัก</a></li>
                <li><a href="about.html">เกี่ยวกับหน่วยงาน</a></li>
                <li><a href="news.html">ประชาสัมพันธ์</a></li>
                <li><a href="">แหล่งเรียนรู้</a></li>
                <li><a href="contact.html" style="color: white;
                    background-color: red;
                    padding: 0;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-radius: 5px;">ติดต่อเรา</a></li>
            </ul>
        </nav>
        <article>
            content
        </article>
        <aside> sidebar </aside>
    </main>
</body>
<footer>
    <span style="font-size: 12px;">
        © 2566 - ฝ่ายสรรพาวุธอิเล็กทรอนิกส์ ฝูงบิน 211 กองบิน 21 -
        <br>ถ.อุปลีสาน ต.ไร่น้อย อ.เมืองอุบลราชธานี จว.อุบลราชธานี โทร 045 243090 ต่อ 43143
    </span>
</footer>

</html>